<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://android.com">

    <uses-permission a:name="android.permission.INTERNET" />
    <uses-permission a:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action a:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        a:name=".App"
        a:allowBackup="true"
        a:icon="@drawable/ic_launcher"
        a:roundIcon="@drawable/ic_launcher"
        a:label="@string/app_name"
        a:theme="@style/Theme.GeminiDict">

        <activity
            a:name=".MainActivity"
            a:exported="true">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            a:name=".ProcessTextActivity"
            a:exported="true"
            a:excludeFromRecents="true"
            a:label="Çevir"
            a:theme="@style/Theme.Translucent">
            <intent-filter>
                <action a:name="android.intent.action.PROCESS_TEXT" />
                <category a:name="android.intent.category.DEFAULT" />
                <data a:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <provider
            a:name="androidx.core.content.FileProvider"
            a:authorities="${applicationId}.fileprovider"
            a:exported="false"
            a:grantUriPermissions="true">
            <meta-data
                a:name="android.support.FILE_PROVIDER_PATHS"
                a:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
